.MuiBox-root.css-1nl0624{
    display: none;
}
.main-content{
    display: none;
}
.main-content-PC{
    padding: 2% 2% 2% 2%;
    display: block;
    margin: 2%;
    
}
.Alert-enable{
    background-color: white;
    text-align: center;
    padding: 2%;
    position:fixed;
    z-index: 3;
    transition: all 1s ;
    transform: translateY(-1vh);
    width:100%;
    height: 200px;
    top:0;
    font-weight: bold;
}
.Alert{
    background-color: white;
    text-align: center;
    padding: 2%;
    position:fixed;
    z-index: 3;
    transition: all 1s ;
    transform: translateY(-310%);
    width: 100%;
    height:200px;
    top:0;
    font-weight: bold;
}
.chart-swap{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1%
}
.chart-main{
    display: flex;
    flex-direction: row;
    gap: 2%;
}
.time-Selector{
    display: flex;
    flex-direction: column;
    padding: 1%;
    background-color: white;
    border-radius: 20px;
    justify-content: space-around;
}
.time-Selector>div,.time-Selector-m>div{
    cursor: pointer;
    padding: 5%;
    
}
.time-Selector-m{
    display: flex;
    flex-direction: row;
    padding: 2%;
    background-color: white;
    border-radius: 20px;
    justify-content: space-around;
}
.selected{
    color: white;
    background-color: black;
    border-radius: 5px;
}
.chart{
    background-color: black;
    border-radius: 20px;
    overflow:hidden
     ;
    width: 100%;

}
.footer{
    background:linear-gradient(180deg, rgba(61, 139, 255, 0.5) 0%, rgba(243, 169, 240, 0.5) 100%);
}

.hist{
    margin-top: 2%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap:1%;
}
#web3-notfound{
    display: none;
}
@media screen and (max-width:900px){
    .MuiBox-root.css-1nl0624{
        display: initial;
    }
    .main-content{
        display: block;
        padding: 5% 2% 2% 2%;
    }
    .main-content-PC{
        display: none;
    }
    .chart{
        height: 60vh;
    }
    #backdrop-logo{
        display: none;
    }
    .footer{
        height: 30vh;
    }
}