body{
   background: #E5E5E5;

background-size:auto;
height: fit-content;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #424242; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #5d4a6e ;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background:#5d4a6e 
  }
  #m-logo{
    display: none;
  }

  @media  screen and (max-width:900px) {
      body{
          height: 180vh;
      }
      #pc-logo{
        display: none;
      }
      #m-logo{
        display: initial;
      }
      .token-search{
        margin-bottom: 4%;
      }
  }