.token-search{
    display: grid;
    grid-template-columns: 3fr 1fr;
    width: 100%;
    grid-gap: 1%;
    background-color: white;
    border-radius: 15px;
    margin-bottom: 1%;
    padding: 2%;
}

.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-filled.MuiFormLabel-root.MuiFormLabel-colorPink.css-1emxr5e-MuiFormLabel-root-MuiInputLabel-root{
color:#000000;
}

#search-btn{
    background: linear-gradient(180deg, rgba(28, 29, 35, 0.8) 0%, #1C1D23 100%);
    backdrop-filter: blur(8px);
}