.swap-content,.create-content{
    display: grid;
    grid-template-columns: 1fr;
    background: linear-gradient(180deg, rgba(28, 29, 35, 0.8) 0%, #1C1D23 100%);
backdrop-filter: blur(8px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 16px;
    padding: 5%;
}

.create-content{
    margin: 2% 10%;
}
.form-content{
    background: transparent;
    display: grid;
    padding-top: 2%;
    grid-template-columns: 1fr;
}
.form-content>input{
    margin-top: 1%;
}
.form-content>label{
    color:white;
}
.token-trade-selector{
    display: grid;
    grid-template-columns: 1fr 1fr;

}

option{
    color: black;
}

.token-trade{
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 4%;
    grid-gap:2%;

}
#execute{
   background-color: transparent;
   border-radius: 16px;
   border-color: white;
margin: 2%;
padding: 2%;
color: white;
margin-bottom: 4%;
}

.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-filled.MuiFormLabel-root.MuiFormLabel-colorPrimary.css-e4w4as-MuiFormLabel-root-MuiInputLabel-root{
    color: white

}
table{
    background: linear-gradient(180deg, rgba(28, 29, 35, 0.8) 0%, #1C1D23 100%);
    backdrop-filter: blur(8px);
}
th,td{
    word-wrap: break-word;
}
#Token-Information{
    background: linear-gradient(180deg, rgba(28, 29, 35, 0.8) 0%, #1C1D23 100%);
    backdrop-filter: blur(8px);;
    color: white;
}

#Token-information>td{
    word-wrap: break-word;
}

.MuiFormControl-root.MuiTextField-root.css-1u3bzj6-MuiFormControl-root-MuiTextField-root{
    
    background-color: transparent;
    
}
.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-shrink.MuiInputLabel-filled.MuiFormLabel-root.MuiFormLabel-colorPrimary.MuiFormLabel-filled.css-o943dk-MuiFormLabel-root-MuiInputLabel-root{
    color: white;
}
#filled-basic-label{
    color: #ffffff;
}
.MuiFilledInput-input.MuiInputBase-input.css-10botns-MuiInputBase-input-MuiFilledInput-input{
    color:white;
}

.inp{
 
    display: flex;
    flex-direction: column;
    gap: 1px;
    border: 2px solid white;
    padding: 2% 1% 0% 2%;
    border-radius: 10px;
    margin-top:5%;
    color: white

}

@media screen and (max-width:900px) {
    .create-content{
        margin: 2% 2%;
    }
    #execute{
        margin-bottom: 1%;
    }
}